@import "tailwindcss";

:root {
  --background: #F5F2EB; /* Color beige claro para el fondo */
  --foreground: #1A1A1A; /* Negro suave para texto */
  --accent: #8B3A28; /* Color teja/ladrillo para botones */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  
  /* Definimos las fuentes personalizadas */
  --font-serif: var(--font-serif); 
  --font-sans: var(--font-sans);
}

.admin-roboto {
  --font-serif: var(--font-admin);
  --font-sans: var(--font-admin);
}

/* Estilos base para una tipografía consistente */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
